*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
}
ul{
    list-style-type: none;
}
.border-g{
    border: 1px solid green;
}
.border-y{
    border: 1px solid yellow;
}
.border-y{
    border: 1px solid grey;
}
.bg-black{
    background-color: black;
}
.myProfile{
    width: 30%;
}
.col-4{
    height: 900px;
}
.col-4 img{
    width: 50%;
    border-radius: 50%;
}
.bg-grey{
    background-color: hsl(0deg 0% 92%);
}
.bg-heavenly{
    background-color: hsl(199deg 95% 77%);
}
.c-heavenly{
    color: hsl(199deg 95% 77%);
}
.c-grey{
    color: grey
}
.lp-rounded{
    width: 66%;
    border-radius: 50%;  
}
.fa-bell-slash{
   font-size: 20px;
   border: 1px solid white;
   border-radius: 50%;
}
input{
    border: none !important;
}
.w-20{
    width: 20%;
}
.w-40{
    width: 40%;
}
.w-10{
    width: 10%;
}
a{
    text-decoration: none !important;
}
.user-message{
    overflow-y: auto;
    height: calc(100% - 226px);
}
.card:hover{
    background-color: rgb(196, 193, 193);
}
.col-8{
    background-image: url(img/mine.jpg);
}
.height{
    height:80px;
}
.height-50{
    height:50px;
}
.chat{
    height: calc(900px - 140px);
    overflow-y: auto;
}
.chat-container{
    margin: 10px 30px auto;
}
.chat-footer i{
    font-size: 30px;
}
.sent-message{
    background-color: hsl(94deg 84% 85%);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
